html {
    height: 100%;
    width: 100%;
    font-family:
   'Josefin Sans', sans-serif;
    box-sizing: border-box;
  }
  
  body {
    padding: 0;
    margin: 0;
    font-size:  18pt;
  }

  /*NAVIGATION BAR*/
  .header{
    position: sticky;
    top: 0;
    left: 0;
    width: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F9F3E5;
    color: black;
    padding: 16px 50px 15px 40px;
    font-size: 25px;
    margin: 0px;
    
    
  }

    /*positions logo to top-left*/
  .logo{
    position: relative;
    max-width: 100%;
    height: 40px;
    margin: 0;
    padding: 0;
  }

  /*formats navbar links*/
  .navbar a {
    position: relative;
    color:black;
    margin: 0px 20px;
    padding: 0px;
    text-decoration: none;
  }

  /*creates the bottom line that appears on hover under each navbar link*/
  .navbar a::before {
    position: absolute;
    content: '';
    top: 105%;
    width: 0%;
    height: 3px;
    background: #d30000;
    transition: .2s;
  }

  /*makes bottom line appear on hover under each navbar link*/
  .navbar a:hover::before {
    width: 100%;
  }

  .navbar a.current::before {
    width: 100%;
  }

  /*makes the navbar link for the current page red*/
  .header .navbar .current{
    color: #d30000;
  }

  /*formats Nav Bar links after visited*/
  .navbar a:visited{
    color:black;
  }
  
  /*formats Nav Bar links on hover*/
  .navbar a:hover{
    color: #d30000;
  }
  
  /*END OF NAVIGATION BAR*/
  
  /*FIRST HEADING*/
  .firstHeading {
    padding: 80px 100px;
    margin: none;
    text-align: center;
    width: auto;
    background-color: lightgray;
   }

  /*PHOTO GALLERY*/
  .gallery {
    text-align: center;
    align-items: center;
    padding: 40px;
    background-color: #F9F3E5;
    width: auto;
  }

  .gallery img {
    border: 5px solid black;
    max-width: 100%;
  }

  /*SIGN UP FORM*/
  .signUpForm {
    margin: 20px;
    text-align: center;
    border: 5px solid black;
    padding: 10px;
  }

  .signUpForm .formElement {
    margin: 10px;
  }

  .submitButton {
    display: flex;
    justify-content: center;
  }

  #submitButton {
    color:black;
    background-color: #F9F3E5;
    border: 1.5px solid black;
    font-family:
   'Josefin Sans', sans-serif;
    font-size: 18px;
    padding: 7px 11px;
    margin: 10px;
  }

  #submitButton:hover {
    padding: 9px 13px;
  }

  select{
    font-size: 18px;
    border: 2px solid black;
    font-family:
   'Josefin Sans', sans-serif;
    padding: 4px;
  }

  /*CONTACT US FORM*/
  .contactContainer {
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: #F9F3E5;
    text-align: center;
  }

  .contactForm{
    padding: 2vs 4vs;
    width: 90%;
    max-width: max-content;
    border-radius: 10px;
    color:#d30000
  }

  .contactForm h1 {
    margin-bottom: 0px;
    padding-bottom: 0px;
    padding-top: 20px;
    color: #d30000;
    line-height: 20px;
  }

  .contactForm h3 {
    margin-bottom: 20px;
    padding-bottom: 0px;
    color: #d30000;
  }

  .contactForm input[type="text"], .contactForm input[type="email"], textarea {
    border: 0;
    margin: 0 0 30px 0;
    padding: 10px;
    outline: none;
    background: #F9F3E5;
    font-size: 18px;
    font-family: 'Josefin Sans', sans-serif;
  }

  .contactForm textarea {
    margin-top: 1px;
    margin-bottom: 0;
    vertical-align: middle;
  }

  .contactForm button {
    margin-top: 1px;
    margin-bottom: 0;
    padding: 10px;
    background: #d30000;
    color: black;
    font-size: 18px;
    border: 0;
    outline: none;
    cursor: pointer;
    font-family: 'Josefin Sans', sans-serif;
  }

  .contactForm button:hover {
    background-color: #AB0000;
  }


  /*CONTACT US SUBMITTED INFO*/
  .contact_us_submitted {
    background-color: #F9F3E5;
    display: flex;
    align-items: center;
    height: 100vh;
  }

  .submitted_info {
    background-color: black;
    width: 100vh;
    color: #d30000;
    padding: 20px 20px 55px 20px;
    margin: 0 auto 30vh auto;
    height: auto;
    border-radius: 14px;
    text-align: center;
  }

  .submitted_info h3 {
    padding: 0 90px;
    margin-bottom: 40px;
  }
  .submitted_info h1 {
    padding-top: 40px;
  }
  .submitted_info a {
    color:#F9F3E5;
  }

/*Sign Up Form Submission Modal*/
  .close:hover {
    cursor: pointer;
    text-align: right;
    color: black;
  }

  .close {
    color: #d30000
  }

  .modal {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F9F3E5;
    color: black;
    margin: 5vh 40vh;
    padding: 20px;
    border-radius: 6px;
    border: solid black 6px
  }

  .classSchedule {
    display: flex;
    justify-content: center;
    background-color: lightgray;
  }

  .classSchedule table, .classSchedule th, .classSchedule td {
    border: solid black 6px;
    border-collapse: collapse;
    color: black;
    background-color: lightgrey;
    text-align: center;
    font-size: 3vh;
    line-height: 25px;
    
  }

  .classSchedule th {
    padding: 5px;
    margin: 0;
    color: #d30000
  }

  .classSchedule th, .classSchedule td, .classSchedule tr {
    padding: 10px;
  }

  #x_symbol {
    text-align: center;
    color: #d30000;
  }

  .classSchedule table {
    table-layout: fixed; 
    width: 100%;
    margin: 1vh 3% 70px 2vh;
    height: 450px;
  }

  @media screen and (max-width: 1000px) {
    .classSchedule th {
      padding: 3px;
    }
    .classSchedule{
      display: block;
    }
  }

  #michael_anderson_img {
    margin-left: 3%;
    margin: 1vh 0 25px 3%;
    max-width: 100%;
  }

  .kids_teens {
    background-color: lightgrey;
    color: #d30000;
    text-align: center;
    display: block;
    padding: 70px 20px 20px 20px;
    margin: 0;
  }

  .AboutHeading {
    background-color: black;
    color:#d30000;
    text-align: center;
    padding: 20px;
    margin: 0;
  }

  .AboutHeading a {
    background-color: black;
    color:#d30000;
    text-align: center;
    padding: 20px;
    margin: 0;
    text-decoration: none;
    font-size: 20pt;
  }

  .AboutHeading a:hover {
    text-decoration: underline;
  }

  .PrivateLessons {
    background-color: #d30000;
    padding: 40px;
    color: black;
  }

  .PrivateLessons a {
    text-decoration: none;
    padding: 15px;
    color: black;
    background-color: #F9F3E5;
    border-radius: 5px;
    border: black 5px;
  }
  .PrivateLessons a:hover {
    text-decoration: underline;
  }

  .PrivateLessons p {
    margin-bottom: 60px;
  }

  .PrivateLessons img {
    float: right;
    margin-top: 10px;
    max-width: 100%;
  }
